---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.vue';
import Clouds from '../components/Clouds.vue';
---

<Layout title="Portfolio | Marthin Hatland">
	<main>
		<Profile />
		<Clouds />
	</main>
</Layout>

<style>

</style>