---
import  SpeedInsights  from "@vercel/speed-insights/astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SpeedInsights />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
	:root {
		--font-family: 'Comfortaa', cursive;
		--font-size: 16px;
		--line-height: 1.5;
		--color-primary: #333;
		--color-secondary: #fff;
		--color-accent: #f00;
	}
	
	body, * {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>
