@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body,
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &[data-navLink] {
        font-weight: 700;
        font-size: 30px;
    }

    &[data-white] {
        color: #fff;
    }

    &[data-black] {
        color: #000;
    }
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

a {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}